@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* outline: 1px dashed red; */
}

body {
    background-color: lightgray;
}

nav {
    background-color: black;
    border-top: solid 5px rgb(193, 0, 193);
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    padding: 1em 0;
}

.container h1 {
    color: white;
    font-size: 3em;
}

.purple-text {
    color: rgb(193, 0, 193);
}

#price-choice {
    padding: .5em;
    font-size: 1em;
}

/* tools styles */

#tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

#tools div {
    color: white;
    font-size: 2em;
    text-decoration: underline;
}

#tools img {
    width: 40px;
}

main {
    min-height: 300px;
}

.flipped {
    transform: scale(-1);
}

/* Feature styles */

.feature {
    margin-top: 1.5em;
    min-height: 200px;
    flex: 1;
}

.feature-image {
    width: 100%;
}

.price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.os-image {
    width: 40px;
}

.btn {
    color: white;
    font-size: 1.5em;
    padding: .25em .5em;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

.feature-info {
    padding: 1.5em;
    background-color: white;
}

.line-through {
    text-decoration: line-through;
    color: darkgray;
}

#big-title {
    font-size: 2em;
}