* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1.5em
}

#fortune {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    display: grid;
    place-items: center;
}

#shake {
    padding: .5em 1em;
}